# ==============================
# Example Environment Variables
# ==============================

# HKGAI API
# HKGAI_API_KEY=your_hkgai_api_key_here

# 新增 Google Gemini API Key
GOOGLE_API_KEY=your_Google_API_Key_here

# Weather API
WEATHER_API_KEY=your_weather_api_key_here

# Traffic API (Google Maps)
TRAFFIC_API_KEY=your_googlemaps_api_key_here

# Google Search API
GOOGLESEARCH_API_KEY=your_googlesearch_api_key_here
GOOGLESEARCH_ENGINE_ID=your_googlesearch_engine_id_here